
@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Light.ttf');
}

body{
    font-family:'Kanit';
    font-size:14px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    font-family:'Kanit', sans-serif;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .container {
    font-size:20px;
    font-family:'Kanit', sans-serif;
}

.footer-v1 .footer {
    background : #a5086b;
    font-family:'Kanit', sans-serif;
}
.latest-list li {
    border-top:1px solid #fafafa;
}

.footer-v1 .link-list li {
    border-top:1px solid #fafafa;
}

.footer a, .copyright a, .footer a:hover, .copyright a:hover {
    color: #cf0077;
}

.link-list a  {
    font-size:13px;
    font-family:'Kanit', sans-serif;
}

.team-social li  a  {
    font-size:13px;
    padding :4px 4px;
}


.headline h1 {
    font-family:'Kanit', sans-serif;
}
.headline h2{
    font-family:'Kanit', sans-serif;
}
.headline h3{
    font-family:'Kanit', sans-serif;
}
.headline h4{
    font-family:'Kanit', sans-serif;
}
.headline h5{
    font-family:'Kanit', sans-serif;
}
.headline h6{
    font-family:'Kanit', sans-serif;
}

a h1,  a h2, a h3, a h4, a h5, a h6{
    font-family:'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Kanit', sans-serif;
}